body{
    background-color:darkgrey;
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-image: url(./images/JPEG/fondo/fondo2.jpg);;
    background-size: cover;
}
#tablero{
    margin-left: 2em;
    margin-right: 2em;
}
#bienvenida{
    margin: 0;
}
tr>td{
    padding: 0.4em;
}
#tabla-resultado{
    margin: 0em;
    padding: 0%;
}
#tabla-juego{
    visibility: hidden;
    grid-area: 2/1/span 4/span 4;

}
#Grid{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
}

#tabla-bienvedida{
    grid-column: 1/span 4;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}
#tabla-probabilidad{
    grid-row: auto/span 5;
    border: solid black;
}

#empezar,#info{
    border-radius: 2em;
    background: transparent;
    color: wheat;
    font-size: 0.8em ;
    padding: 0.4em 1.3em;
}
#Espacios-div{
    visibility: hidden;
}